<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<style>
    form {
        display: inline-block;
    }
</style>

<body>
    <h1>User Registration</h1>
    {% if exist == "True" %}
    <p style="color:red;">This Id already exist. please choose another username</p>
    {% endif%}
    <form method="POST" id="user-details">
        <br>
        <label>First Name</label>
        <input name="fname" type="text" class="rounded" pattern="[a-zA-Z\s]+"
            title="Only Space and alphabets are allowed" required value="{{fname}}" />
        <br>
        <label>last Name</label>
        <input name="lname" type="text" class="rounded" required pattern="[a-zA-Z\s]+"
            title="Only Space and alphabets are allowed" value="{{lname}}" /><br>
        <label>Mobile Number</label>
        <input name="mobile" type="text" class="rounded" pattern="[0-9]{10}" title="Enter 10 digits"
            value="{{mobile}}" /><br>

        <label>Email</label>
        <input name="email" type="email" class="rounded" value="{{email}}" /><br><br>

        <label>UserName</label>
        <input name="username" type="text" class="rounded" pattern="[a-zA-Z0-9]+"
            title="Only alphabets and numbers are allowed" required /><br>

        <label for="password">Password:</label>
        <input type="password" class="rounded" name="password" minlength="8" required><br><br>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <br>
    <p>Already having an Id. Go to <a href="/">Login</a> Page</p>
</body>

</html>