<!DOCTYPE html>
<html>

<body>
    <div style="text-align: right;">
        <a href="/admin/{{adminId}}/home">Home</a>
        <a href="/admin/{{adminId}}/venue">Venue</a>
        <a href="/admin/{{adminId}}/profile">Profile</a>
        <a href="/admin/{{adminId}}/show">Show</a>
        <a href="/admin/login">Log out</a>
    </div>
    <div>
        <p>Share this code to your new Admin registration<br>New Admin registration cannot be done without below
            code<br> this code is Case sensitive</p>
    </div>
    <div>
        <label>Registration Code is <b>{{code}}</b></label>
    </div>
</body>

</html>