<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>

<body>
    <div style="text-align: right;">
       
        <a href="/admin/{{adminId}}/venue">Venue</a>
        <a href="/admin/{{adminId}}/profile">Profile</a>
        <a href="/admin/{{adminId}}/show">Show</a>
        <a href="/admin/login">Log out</a>
    </div>
    <div>
        {%if error == 'show'%}
        <p style="color:red;"> This Show is still running in one or few venue. Please delete the show from venue before
            deleting the complete show</p>
        {%endif%}
    </div>
    <div style="margin-left: 1%;" class="container">
        <a href="/admin/{{adminId}}/venue/create">Create New Venue</a>
        <a href="/admin/{{adminId}}/show/create">Create New Show</a>
        <br> {%for each in Venue%}
        <br> <b>{{each.venue_name}}&emsp;</b>
        <a href="/admin/{{adminId}}/venue/{{each.venue_id}}/allocate" name="add" class="btn btn-secondary">Add New
            Show</a>

        {%for each1 in each.shows%}

        <div>
            <label>{{each1.show_name}}</label><br>
            <label>{{each1.time}}</label><br>


            <a name="edit" href="/admin/{{adminId}}/edit/{{each1.sv_id}}">Edit</a>
            <a name="delete" href="/admin/{{adminId}}/delete/{{each1.sv_id}}">Delete</a>

        </div>
        {%endfor%}

        {%endfor%}
        <hr>
    </div>
    <hr>
</body>

</html>