<!DOCTYPE html>
<html>
<style>
    form {
        margin: 25px 50px 75px 100px;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    {%if admin==True%}
    <div style="text-align: right;">
        <a href="/admin/{{userId}}/home">Home</a>
        <a href="/admin/{{userId}}/venue">Venue</a>
        <a href="/admin/{{userId}}/show">Show</a>
        <a href="/admin/login">Log out</a>
    </div>
    {%else%}
    <div style="text-align: right;">
        <a href="/user/{{userId}}/home">Home</a>
        <a href="/user/{{userId}}/search">Search</a>
        <a href="/user/{{userId}}/bookings">Booking</a>
        <a href="/">Log out</a>

    </div>
    {%endif%}
    <h1 style="text-align: center;">User Data</h1>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th>Name</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>

        <tr>
            <th>Mobile Number</th>
            <td>{{user.phone_number}}</td>
        </tr>
        <tr>
            <th>Email Id</th>
            <td>{{user.email_id}}</td>
        </tr>
        <tr>
            <th>UserName</th>
            <td>{{user.username}}</td>
        </tr>
        {%if admin==True%}
        <tr>
            <td colspan="2" style="text-align: center;">
                <a href="/admin/{{userId}}/generete">generte code</a>
            </td>

        </tr>
        {%endif%}
    </table>
    <!-- <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                placeholder="first name" value=""></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                class="form-control" value="" placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="enter phone number" value=""></div>
                       
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                class="form-control" placeholder="enter email id" value=""></div>
                        <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                class="form-control" placeholder="education" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
                            Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    </div> -->

</body>

</html>