<!DOCTYPE html>
<html>
<style>
  form {
    margin: 25px 50px 75px 100px;
  }
</style>

<head>
  <title>resetPassword</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  {%if admin==True%}
  <div style="text-align: right">
    <a href="/admin/{{userId}}/home">Home</a>
    <a href="/admin/{{userId}}/venue">Venue</a>
    <a href="/admin/{{userId}}/show">Show</a>
    <a href="/admin/{{userId}}/profile">Profile</a>
    <a href="/admin/login">Log out</a>
  </div>
  {%else%}
  <div style="text-align: right">
    <a href="/user/{{userId}}/home">Home</a>
    <a href="/user/{{userId}}/search">Search</a>
    <a href="/user/{{userId}}/bookings">Booking</a>
    <a href="/user/{{userId}}/profile">Profile</a>
    <a href="/">Log out</a>
  </div>
  {%endif%}
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <form method="post" id="resetPassword">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col" style="text-align: center;">
        <h5>Reset Password</h5></div>
      <div class="col"></div>
    </div>
    
    <div class="row">
      <div class="col"></div>
      <div class="col-md-3 p-1" >UserName</div>
      <div class="col-md-3 p-1" >
        <input value="{{username}}" disabled></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-md-3 p-1" >Password</div>
      <div class="col-md-3 p-1" >
        <input name="password" type="password" required>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-md-3 p-1" >New Password</div>
      <div class="col-md-3 p-1" >
        <input name="newpassword" type="password" minlength="8" required>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-md-3 p-1" >Confirm New password</div>
      <div class="col-md-3 p-1" >
        <input name="cnewpassword" type="password" minlength="8" required>
      </div>
      <div class="col"></div>
    </div>
     <div class="row">
      <div class="col-md-5"></div>
      <div class="col">
        <button type="submit" style="text-align: center;" class="btn btn-primary
        ">Reset</button>
      </div>
      <div class="col-md-5"></div>
      
    </div>
  </div>
</form>

</body>

</html>