<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>

<body>
    <div style="text-align: right;">
        <a href="/user/{{userId}}/search">Search</a>
        <a href="/user/{{userId}}/bookings">Booking</a>
        <a href="/user/{{userId}}/profile">Profile</a>
        <a href="/">Log out</a>

    </div>
    <form class="example" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search any Venue or Show " name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div style="margin-left: 1%;" class="container">
        {% for venue in list%}
        <h3>{{venue.venue_name}}</h3>
        {% for show in venue.shows%}
        <span>
            <form method="POST" id="ShowDetails">
                <label>Show:{{show.show_name}}</label><br>
                <label>Show Time:{{show.time}}</label><br>

                {%if show.is3d%}
                <label>Movie Type: 3D</label><br>
                <label>Show Price:{{[venue.price2D, show.min_fare]|max}}</label><br>
                {%else%}
                <label>Movie Type:2D</label><br>

                <label>Show Price:{{[venue.price2D, show.min_fare]|max}}</label><br>
                {%endif%}

                {%if show.available_ticket==0%}
                <button type="submit" disabled>Houseful</button>

                {%else%}
                <button type="submit" name="book" value="book-{{show.sv_id}}" class="btn btn-primary">Book</button>
                {%endif%}
            </form>
        </span>
        {%endfor%}
        <hr>
        {%endfor%}
    </div>
    <hr>
</body>

</html>