<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
  </head>

  <body>
    <div style="text-align: right">
      <a href="/admin/{{adminId}}/home">Home</a>
      <a href="/admin/{{adminId}}/profile">Profile</a>
      <a href="/admin/{{adminId}}/show">Show</a>
      <a href="/admin/login">Log out</a>
    </div>
    {% if error=="NotDelete" %}
    <p style="color: red">
      There is Still some show allocated to this Venue. Please delete allocation
      from Venue before Deleting this Venue
    </p>
    {% endif%}
    <div style="margin-left: 1%" class="container">
      <a href="/admin/{{adminId}}/venue/create">Create New Venue</a>
      {%for each in allVenue%}

      <div>
        <label><b>{{each.venue_name}}</b></label
        ><br />
        <label>Place:{{each.place}}</label><br />
        <label>Location:{{each.location}}</label><br />
        <label>Capacity:{{each.max_capacity}}</label><br />
        <label>Price 3D:{{each.fare3D}}</label><br />
        <label>Price 2D:{{each.fare2D}}</label><br />

        <a href="/admin/{{adminId}}/venue/{{each.venue_id}}/edit">Edit</a>
        <a href="/admin/{{adminId}}/venue/{{each.venue_id}}/delete">Delete</a>
      </div>
      {%endfor%}
    </div>
    <hr />
  </body>
</html>
